// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

section#why, section#teambox {
  .section-heading {
    color: $theme-primary;
  }
  .section-subheading {
    color: $theme-additive;
  }
}

section#what {
  background-color: $theme-primary;
  .text {
    color: white;
  }
  .section-heading {
    color: white;
  }
  .section-subheading {
    color: $theme-additive;
  }
}

section#teambox {
  .product-show {
    margin: 0 0 20px 0;
  }
  .teambox-description {
    margin: 20px 0;
  }
  .btn {
    margin-top: 20px;
  }
}
